.maincontainer {
  width: 100%;
  height: 100vh;
}

.hero {
  background-size: cover;
  background-color: #3f3f3f;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

body,
h1,
h2 {
  margin: 0;
  padding: 0;
}

.herotext {
  padding-top: 140px;
  padding-right: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #ffffff;
  float: left;
}

.herotext h1 {
  font-size: 35px;
  font-weight: 500;
}

.UXUIBackground h1 {
  background-image: url("/img/Vector.png");
  background-repeat: no-repeat;
  padding: 20px 15px;
  color: #6da8bb;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.heroilustration {
  padding: 50px;
  padding-right: 70px;
  float: right;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container2 {
  margin: 0;
  padding: 0;
  border: 0;
  float: right;
}

.menu {
  background-image: url("/img//Vector-1.png");
  background-repeat: no-repeat;
  width: 134px;
  margin: 0;
  padding: 0;
  top: 1px;
  border: 0;
  float: left;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}

.menu ul {
  padding-top: 175px;
  list-style: none;
}

.menu a {
  margin-left: -30px;
}

.buttons {
  padding-top: 70px;
}

.action_btnget {
  width: 197px;
  height: 59px;
  background: #3f3f3f;
  border-color: #ffffff;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: white;
  margin-left: 100px;
}





.action_btnget:hover {

  background: #595959;
  cursor: pointer;

}


.action_btnrecent {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 50;
  color: white;
  width: 197px;
  height: 59px;
  background: #3c6a78;
  border: 2px solid #3c6a78;
  
}



.action_btnrecent:hover {

  background: #3E7080;
  border-color: #ffffff;
  cursor: pointer;
}

.RecentProjects h1 {
  float: left;
  width: 303px;
  height: 37px;
  margin-left: 135px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 30px;
  color: #000000;
}

.MockupRight img {
  max-width: 700px;
  padding-top: 50px;
  padding-left: 60px;
}

.BrainsterNext-container .MockupRight.left {
  display: none;
}

.BrainsterNext-container .MockupRight.right {
  display: block;
}

.VidiVaka-container .textright {
  padding-left: 97px;
}

.VidiVaka-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding-left: 135px;
  padding-right: 135px;
}

.textright h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-weight: 800;
  font-size: 25px;
}

.textright p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.action_btnview {
  width: 197px;
  height: 59px;
  background: #0e0e0e;
  border: 2px solid #0e0e0e;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: white;
}

.action_btnview:hover {
  border-color: solid;
  border-color:#3C6A78;
  background: #3C6A78;
  cursor: pointer;
}

.line {
  width: 95%;
  height: 8px;
  background-color: #c4c4c4;
  margin-left: 34px;
  margin-right: 34px;
}

.BrainsterNext-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.textleft {
  padding: 121px 34px 109px 140px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 20px;
}

.textleft h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-weight: 800;
  font-size: 25px;
}

.line2 {
  width: 95%;
  height: 8px;
  background-color: #c4c4c4;
  top: 1820px;
  margin-left: 34px;
  margin-right: 34px;
}

.MockupLeft2 img {
  padding-left: 135px;
  padding-top: 80px;
}

.textright2 h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-weight: 800;
  font-size: 25px;
}

.textright2 p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 20px;
}

.Janebank {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.textright2 {
  padding-top: 80px;
  padding-left: 97px;
  padding-right: 137px;
}

.line3 {
  width: 95%;
  height: 8px;
  background-color: #c4c4c4;
  margin-left: 34px;
  margin-right: 34px;
}

.ViewAllProjects h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-decoration: underline;
  cursor: pointer;
}

.footer {
  display: flex;
  background-size: cover;
  background-color: #3f3f3f;
  width: 100%;
  height: 110vh;
}

.footer h1 {
  padding-left: 135px;
  padding-top: 100px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 30px;
  color: #ffffff;
}

.footer .footerIlustration img {
  max-width: 930px;
  padding-right: 55px;
  padding-top: 110px;
}

.footer .footerIlustration h2 {
  text-align: center;
  padding-right: 290px;
  padding-bottom: 15px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}




/* .footer .footerIlustration img {
  background-image: url("/img//mail.png");
  background-repeat: no-repeat; */
}

/* .backToTop img {
  float: right;
} */

@media screen and (max-width: 1020px) {
  .VidiVaka-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 1020px) {
  .BrainsterNext-container {
    flex-direction: column;
  }
  .BrainsterNext-container .MockupRight.left {
    display: block;
  }
  .BrainsterNext-container .MockupRight.right {
    display: none;
  }
}

@media screen and (max-width: 1020px) {
  .hero {
    display: flex;

    height: 896px;
    left: 0px;
    top: 0px;
  }

  .menu {
    display: none;
  }

  .heroilustration .herotext .UXUIBackground .buttons {
    float: none;
    width: initial;
    height: initial;
  }

  .heroilustration .herotext .UXUIBackground .buttons {
    position: initial;
  }

  .heroilustration {
    display: flex;
  }
  .heroilustration {
    width: 378px;
    height: 382px;
    margin-top: 0;
    position: absolute;
    top: 40px;
    left: 18px;
  }

  .herotext h1 {
    margin-top: 400px;
    margin-left: 50px;
    font-size: 25px;
    font-weight: 500;
  }

  .UXUIBackground h1 {
    font-size: 25px;
    font-weight: 700;
    margin-left: 50px;
  }
}
